[submodule "submodules/jsoncpp"]
	path = submodules/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "submodules/zlib"]
	path = submodules/zlib
	url = https://github.com/madler/zlib.git
